<!DOCTYPE html>
<html>
    <head>
        <title>声明式渲染</title>
    </head>
    <body>
      <div id="app">
        {{ message }}
        <span v-bind:title="message">
          鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
        <!-- 创建一个 todo-item 组件的实例 -->
        <ol>
          <!-- <todo-item></todo-item> -->
          <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
         ></todo-item>
        </ol>
        <!-- 创建一个 输出对象的实例 -->
        <ul>
          <li v-for="(value,key,index) in object">{{key}}--{{value}} </li>
        </ul>
      </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
       Vue.component('todo-item', {
         template: '<li>{{todo.text}}</li>',
         props: ['todo']
       })
      var app = new Vue({
        el: '#app',
        data: {
            // message: 'Hello Vue!'
          message:'页面加载于 ' + new Date().toLocaleString(),
          groceryList: [
            { id: 0, text: '蔬菜' },
            { id: 1, text: '奶酪' },
            { id: 2, text: '随便其它什么人吃的东西' }
          ],
          object: {
            title: 'vue title',
            auther: 'Levy',
            date: new Date().getDate()
          }
        }
      })
    </script>
</html>